<legend class="title_border">Step</legend>

<%= render partial: "alert_messages" %>

<div id="table" class="row">
  <div class="col-md-12 form_for_steps">
    <%= render partial: "form" %>
  </div>
</div>

<%= disabled_info 'form_step' %>
