<legend class="title_border"> <%= title "Area items" %> </legend>

<%= render partial: "alert_messages" %>

<div class="row">
	<div id="search-box" class="col-xs-12">
		<%= render partial: "search" %>
	</div>
</div>
<div class="row">
	<div id="table" class="col-md-12">
		<%= render partial: "table" %>
	</div>
</div>

