<legend class="title_border">ESA</legend>

<%= render partial: "alert_messages" %>

<div id="table" class="row">
  <div class="col-md-12">
    <%= render partial: "form" %>
  </div>
</div>

<%= disabled_info 'form_esa' %>
