// Place all the styles related to the admin::recomendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remove{
	margin-top:10px;
}

.recommendation_item{
	background-color: #eee;
	border: 2px solid #ccc;
	border-radius: 15px;
	margin: 20px;
}