<legend class="title_border"><%= title "Areas" %></legend>
<%= render partial: "alert_messages" %>
<div class="row">
	<div id="search-box" class="col-xs-12">
		<%= render partial: "search" %>
	</div>
</div>
<br>
<div class="row">
	<div id="table" class="col-md-12">
		<%= render partial: "table" %>
	</div>
</div>